In [ ]:
!pip install pyupbit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyupbit
  Downloading pyupbit-0.2.30-py3-none-any.whl (24 kB)
Collecting pyjwt>=2.0.0
  Downloading PyJWT-2.4.0-py3-none-any.whl (18 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pyupbit) (2.23.0)
Collecting websockets
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 6.6 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyupbit) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyupbit) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyupbit) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pyupbit) (2.10)
Installing collected packages: websockets, pyjwt, pyupbit
Successfully installed pyjwt-2.4.0 pyupbit-0.2.30 websockets-10.3

In [ ]:
import pyupbit
import numpy as np
import pandas as pd

In [ ]:
# OHLCV(open, high, low, close, volume)로 당일 시가, 고가, 저가, 종가, 거래량에 대한 데이터
df = pyupbit.get_ohlcv("KRW-BTC", count=365*10)
df

,open,high,low,close,volume,value
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,132.484755,5.602146e+08
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,22.788340,9.950724e+07
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,32.269662,1.448276e+08
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,80.588243,3.721860e+08
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,59.352373,2.724558e+08
...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,1931.845973,7.136116e+10
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,1712.650146,6.369122e+10
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,5467.460037,2.112747e+11
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,6442.979981,2.563085e+11
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,1543.918361,6.153571e+10

In [ ]:
df = df[["open", "high", "low", "close"]]
df

                                 open        high         low       close
2017-09-25 09:00:00+00:00   4201000.0   4333000.0   4175000.0   4322000.0
2017-09-26 09:00:00+00:00   4317000.0   4418000.0   4311000.0   4321000.0
2017-09-27 09:00:00+00:00   4322000.0   4677000.0   4318000.0   4657000.0
2017-09-28 09:00:00+00:00   4657000.0   4772000.0   4519000.0   4586000.0
2017-09-29 09:00:00+00:00   4586000.0   4709000.0   4476000.0   4657000.0
...                               ...         ...         ...         ...
2022-05-28 09:00:00+00:00  36862000.0  37373000.0  36613000.0  37034000.0
2022-05-29 09:00:00+00:00  37033000.0  37620000.0  36825000.0  37380000.0
2022-05-30 09:00:00+00:00  37415000.0  39989000.0  37230000.0  39550000.0
2022-05-31 09:00:00+00:00  39527000.0  40600000.0  39300000.0  39923000.0
2022-06-01 09:00:00+00:00  39927000.0  40150000.0  39514000.0  39717000.0

[1711 rows x 4 columns]

In [ ]:
# hold 누적 수익률: 현재 종가 / 매수 첫날 시가 
df['buy_hold_hpr'] = df['close'] / df.open[0]
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,open,high,low,close,buy_hold_hpr
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546
...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178

In [ ]:
# Draw Down 계산 (누적 최대 값과 현재 hpr 차이 / 누적 최대값 * 100)
df['buy_hold_dd'] = (df['buy_hold_hpr'] - df['buy_hold_hpr'].cummax()) / df['buy_hold_hpr'].cummax() * 100
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000
...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415

In [ ]:
df["buy_hold_MDD"] = df["buy_hold_dd"].cummin()
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587
...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147

In [ ]:
k = 0.5

In [ ]:
# 변동폭 * k 계산, (고가 - 저가) * k값
df['range'] = (df['high'] - df['low']) * k
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0
...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0

In [ ]:
# target(매수가), range 컬럼을 한칸씩 밑으로 내림(.shift(1))
df['target'] = df['open'] + df['range'].shift(1)
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range,target
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0,NaN
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0,4396000.0
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0,4375500.0
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0,4836500.0
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0,4712500.0
...,...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0,37600000.0
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0,37413000.0
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0,37812500.0
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0,40906500.0
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0,40577000.0

In [ ]:
# ror(수익률), np.where(조건문, 참일때 값, 거짓일때 값)
df['ror'] = np.where(df['high'] > df['target'],
                     df['close'] / df['target'],
                     1)
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range,target,ror
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0,NaN,1.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0,4396000.0,0.982939
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0,4375500.0,1.064336
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0,4836500.0,1.000000
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0,4712500.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0,37600000.0,1.000000
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0,37413000.0,0.999118
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0,37812500.0,1.045950
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0,40906500.0,1.000000
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0,40577000.0,1.000000

In [ ]:
# 누적 곱 계산(cumprod) => 누적 수익률
df['hpr'] = df['ror'].cumprod()
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range,target,ror,hpr
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0,NaN,1.000000,1.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0,4396000.0,0.982939,0.982939
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0,4375500.0,1.064336,1.046177
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0,4836500.0,1.000000,1.046177
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0,4712500.0,1.000000,1.046177
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0,37600000.0,1.000000,44.158902
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0,37413000.0,0.999118,44.119952
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0,37812500.0,1.045950,46.147282
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0,40906500.0,1.000000,46.147282
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0,40577000.0,1.000000,46.147282

In [ ]:
# Draw Down 계산 (누적 최대 값과 현재 hpr 차이 / 누적 최대값 * 100)
df['dd'] = (df['hpr'] - df['hpr'].cummax()) / df['hpr'].cummax() * 100 
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range,target,ror,hpr,dd
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0,NaN,1.000000,1.000000,0.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0,4396000.0,0.982939,0.982939,-1.706096
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0,4375500.0,1.064336,1.046177,0.000000
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0,4836500.0,1.000000,1.046177,0.000000
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0,4712500.0,1.000000,1.046177,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0,37600000.0,1.000000,44.158902,-18.609001
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0,37413000.0,0.999118,44.119952,-18.680791
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0,37812500.0,1.045950,46.147282,-14.944140
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0,40906500.0,1.000000,46.147282,-14.944140
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0,40577000.0,1.000000,46.147282,-14.944140

In [ ]:
# Draw Down 계산 (누적 최대 값과 현재 hpr 차이 / 누적 최대값 * 100)
df['MDD'] = df['dd'].cummin()
df

,open,high,low,close,buy_hold_hpr,buy_hold_dd,buy_hold_MDD,range,target,ror,hpr,dd,MDD
2017-09-25 09:00:00+00:00,4201000.0,4333000.0,4175000.0,4322000.0,1.028803,0.000000,0.000000,79000.0,NaN,1.000000,1.000000,0.000000,0.000000
2017-09-26 09:00:00+00:00,4317000.0,4418000.0,4311000.0,4321000.0,1.028565,-0.023137,-0.023137,53500.0,4396000.0,0.982939,0.982939,-1.706096,-1.706096
2017-09-27 09:00:00+00:00,4322000.0,4677000.0,4318000.0,4657000.0,1.108546,0.000000,-0.023137,179500.0,4375500.0,1.064336,1.046177,0.000000,-1.706096
2017-09-28 09:00:00+00:00,4657000.0,4772000.0,4519000.0,4586000.0,1.091645,-1.524587,-1.524587,126500.0,4836500.0,1.000000,1.046177,0.000000,-1.706096
2017-09-29 09:00:00+00:00,4586000.0,4709000.0,4476000.0,4657000.0,1.108546,0.000000,-1.524587,116500.0,4712500.0,1.000000,1.046177,0.000000,-1.706096
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,36862000.0,37373000.0,36613000.0,37034000.0,8.815520,-54.505362,-86.813147,380000.0,37600000.0,1.000000,44.158902,-18.609001,-26.986194
2022-05-29 09:00:00+00:00,37033000.0,37620000.0,36825000.0,37380000.0,8.897881,-54.080316,-86.813147,397500.0,37413000.0,0.999118,44.119952,-18.680791,-26.986194
2022-05-30 09:00:00+00:00,37415000.0,39989000.0,37230000.0,39550000.0,9.414425,-51.414567,-86.813147,1379500.0,37812500.0,1.045950,46.147282,-14.944140,-26.986194
2022-05-31 09:00:00+00:00,39527000.0,40600000.0,39300000.0,39923000.0,9.503214,-50.956353,-86.813147,650000.0,40906500.0,1.000000,46.147282,-14.944140,-26.986194
2022-06-01 09:00:00+00:00,39927000.0,40150000.0,39514000.0,39717000.0,9.454178,-51.209415,-86.813147,318000.0,40577000.0,1.000000,46.147282,-14.944140,-26.986194

In [ ]:
df2 = pd.DataFrame()

In [ ]:
df2 = df[["hpr", "MDD", "buy_hold_hpr", "buy_hold_MDD"]]
df2

                                 hpr        MDD  buy_hold_hpr  buy_hold_MDD
2017-09-25 09:00:00+00:00   1.000000   0.000000      1.028803      0.000000
2017-09-26 09:00:00+00:00   0.982939  -1.706096      1.028565     -0.023137
2017-09-27 09:00:00+00:00   1.046177  -1.706096      1.108546     -0.023137
2017-09-28 09:00:00+00:00   1.046177  -1.706096      1.091645     -1.524587
2017-09-29 09:00:00+00:00   1.046177  -1.706096      1.108546     -1.524587
...                              ...        ...           ...           ...
2022-05-28 09:00:00+00:00  44.158902 -26.986194      8.815520    -86.813147
2022-05-29 09:00:00+00:00  44.119952 -26.986194      8.897881    -86.813147
2022-05-30 09:00:00+00:00  46.147282 -26.986194      9.414425    -86.813147
2022-05-31 09:00:00+00:00  46.147282 -26.986194      9.503214    -86.813147
2022-06-01 09:00:00+00:00  46.147282 -26.986194      9.454178    -86.813147

[1711 rows x 4 columns]

In [ ]:
df2["hpr_percent"] = (df2["hpr"] - 1) * 100
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,hpr,MDD,buy_hold_hpr,buy_hold_MDD,hpr_percent
2017-09-25 09:00:00+00:00,1.000000,0.000000,1.028803,0.000000,0.000000
2017-09-26 09:00:00+00:00,0.982939,-1.706096,1.028565,-0.023137,-1.706096
2017-09-27 09:00:00+00:00,1.046177,-1.706096,1.108546,-0.023137,4.617691
2017-09-28 09:00:00+00:00,1.046177,-1.706096,1.091645,-1.524587,4.617691
2017-09-29 09:00:00+00:00,1.046177,-1.706096,1.108546,-1.524587,4.617691
...,...,...,...,...,...
2022-05-28 09:00:00+00:00,44.158902,-26.986194,8.815520,-86.813147,4315.890182
2022-05-29 09:00:00+00:00,44.119952,-26.986194,8.897881,-86.813147,4311.995162
2022-05-30 09:00:00+00:00,46.147282,-26.986194,9.414425,-86.813147,4514.728163
2022-05-31 09:00:00+00:00,46.147282,-26.986194,9.503214,-86.813147,4514.728163
2022-06-01 09:00:00+00:00,46.147282,-26.986194,9.454178,-86.813147,4514.728163

In [ ]:
df2["buy_hold_hpr_percent"] = (df2["buy_hold_hpr"] - 1) * 100
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,hpr,MDD,buy_hold_hpr,buy_hold_MDD,hpr_percent,buy_hold_hpr_percent
2017-09-25 09:00:00+00:00,1.000000,0.000000,1.028803,0.000000,0.000000,2.880267
2017-09-26 09:00:00+00:00,0.982939,-1.706096,1.028565,-0.023137,-1.706096,2.856463
2017-09-27 09:00:00+00:00,1.046177,-1.706096,1.108546,-0.023137,4.617691,10.854558
2017-09-28 09:00:00+00:00,1.046177,-1.706096,1.091645,-1.524587,4.617691,9.164485
2017-09-29 09:00:00+00:00,1.046177,-1.706096,1.108546,-1.524587,4.617691,10.854558
...,...,...,...,...,...,...
2022-05-28 09:00:00+00:00,44.158902,-26.986194,8.815520,-86.813147,4315.890182,781.552011
2022-05-29 09:00:00+00:00,44.119952,-26.986194,8.897881,-86.813147,4311.995162,789.788146
2022-05-30 09:00:00+00:00,46.147282,-26.986194,9.414425,-86.813147,4514.728163,841.442514
2022-05-31 09:00:00+00:00,46.147282,-26.986194,9.503214,-86.813147,4514.728163,850.321352
2022-06-01 09:00:00+00:00,46.147282,-26.986194,9.454178,-86.813147,4514.728163,845.417758

In [ ]:
df3 = df2[["hpr_percent", "MDD", "buy_hold_hpr_percent", "buy_hold_MDD"]]
df3

,hpr_percent,MDD,buy_hold_hpr_percent,buy_hold_MDD
2017-09-25 09:00:00+00:00,0.000000,0.000000,2.880267,0.000000
2017-09-26 09:00:00+00:00,-1.706096,-1.706096,2.856463,-0.023137
2017-09-27 09:00:00+00:00,4.617691,-1.706096,10.854558,-0.023137
2017-09-28 09:00:00+00:00,4.617691,-1.706096,9.164485,-1.524587
2017-09-29 09:00:00+00:00,4.617691,-1.706096,10.854558,-1.524587
...,...,...,...,...
2022-05-28 09:00:00+00:00,4315.890182,-26.986194,781.552011,-86.813147
2022-05-29 09:00:00+00:00,4311.995162,-26.986194,789.788146,-86.813147
2022-05-30 09:00:00+00:00,4514.728163,-26.986194,841.442514,-86.813147
2022-05-31 09:00:00+00:00,4514.728163,-26.986194,850.321352,-86.813147
2022-06-01 09:00:00+00:00,4514.728163,-26.986194,845.417758,-86.813147